.HOPS*
.vagrant
/cookbooks
*~
params.txt

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# Vagrant
Berksfile.lock
Vagrantfile.Projects
Vagrantfile.paul
nohup.out
start-dev.sh
vagrant.pid

.idea