<!DOCTYPE html>
<html>
<body>

<h2><%= @org_name =>, you smoked us!</h2>
<p>
Something went wrong......
</p>
<p>
<a href="/hopsworks">Go back to login page</a>
</p>
<img src="obama-smoked-us.gif" alt="You smoked us" style="width:304px;height:228px;">
</body>
</html>
