<!DOCTYPE html>
<html>
<body>

  <div class="center-block" style="width: 820px;">
    <div class="panel">
      <div class="panel-heading text-center">
        <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
          <img alt="" class="block-center img-rounded" style="margin-left:10px" width="30" src="/hopsworks/images/hops.bdc98a42.png">
        </a>
      </div>
      <div class="panel-body">
        <p class="text-center">Oops, you landed on the wrong page.</p>
        <a class="btn btn-block btn-default" href="/hopsworks">Spark up again, by going back to login page!</a>
      </div>
      <div class="panel-body">
        <img src="/obama-smoked-us.gif" alt="You smoked us" style="width:1078px;height:680px;">
      </div>
    </div>

  </div>
</div>


</body>
</html>
